Flask==2.3.2
flask-cors==3.0.10
python-docx==0.8.11
scikit-learn==1.4.2
PyMuPDF==1.23.26     # For import fitz
reportlab==4.1.0
re                    # built-in, no need to include
pdfminer.six==20221105
nltk==3.8.1
spacy==3.7.2
textblob==0.18.0.post0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
tqdm==4.66.4
jinja2==3.1.3
pdfkit==1.0.0
weasyprint==61.2
openpyxl==3.1.2
requests==2.31.0
python-dotenv==1.0.1

