Flask
flask-cors
python-docx
scikit-learn
PyMuPDF  # For import fitz
reportlab
                   # built-in, no need to include
pdfminer.six
nltk
spacy
textblob
numpy
pandas
matplotlib
seaborn
tqdm
jinja2
pdfkit
weasyprint
openpyxl
requests
python-dotenv

